extends layout

block content
    - user = typeof(udata) != 'undefined' ? udata : undefined

    include navbar

    .content
        .home-info
            br
            br
            br
            h1 Hello #{user.name},
            h3 Welcome back to Interactive Education Tool.
            br
            h4 You are logged in to #{user.type} profile.
            if(user.type == 'admin')
                h4 As a an admin you can create a study year and add\delete\edit pupils, teachers and parents,
                h4 you can add lessons and attach to a pupil and teacher.
            else if(user.type == 'pupil')
                h4 As a pupil you can watch the lessons your teachers have prepared,
                h4 do your homework or assignments,
                h4 watch your calender and your grades.
                h4 You can also send a message directly to the admin or teachers.
            else if(user.type == 'parent')
                h4 As a parent you can view your child or children's data,
                h4 such as calender and grades.
                h4 You can also send a message directly to the admin or teachers.
            else if(user.type == 'teacher')
                h4 As a teacher you will be able to create meetings, assignments and homework,
                h4 you will be able to see and edit your student's grades.
            h4 You can edit your user and logout by clicking on the username.
            h4 To redirect to these pages, you have a menu on the right side of the page.
            h4 Good luck.

    include modals/error
    include modals/edit-password