.header
    .logo
        a(href='/home')
            img(src='/css/logo.png' width='55' height='45' alt='logo' style="left: 25px;position: absolute;")
            h1 IET
            h8 Interactive Education Tool

input#openSidebarMenu.openSidebarMenu(type='checkbox')
label.sidebarIconToggle(for='openSidebarMenu')
    .spinner.diagonal.part-1
    .spinner.horizontal
    .spinner.diagonal.part-2
#sidebarMenu
    ul.sidebarMenuInner
        li
            a(href='/home' ) Home
        if(user !== undefined && user.type == "Pupil")
            li
                a(href='/lessons' ) Lessons
            li
                a(href='/schedule' ) Schedule
            li
                a(href='/grades' ) Grades
            li
                a(href='/contact') Contact
        else if(user !== undefined && user.type == "Parent")
            li
                a(href='/grades' ) Grades
            li
                a(href='/users' ) Users
            li
                a(href='/schedule' ) Schedule
            li
                a(href='/contact') Contact
        else if(user !== undefined && user.type == "Teacher")
            li
                a(href='/lessons' ) Lessons
            li
                a(href='/grades' ) Grades
        else if(user !== undefined && user.type == "Admin")
            li
                a(href='/years' ) Years
            li
                a(href='/users' ) Users
            li
                a(href='/lessons' ) Lessons

        if(user !== undefined)
            .section(style='position: absolute; display: inline-flex; width: 100%; bottom: 0;')
                li(style='width: 195px; overflow-x: hidden;')
                    a(href='/my-user' style='width: 195px; overflow-x: hidden;')=user.name

